<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="/assets/css/style.css?c={{ site.data.webpack.hash }}">
  <script src="/assets/js/app.js?c={{ site.data.webpack.hash }}"></script>

  <link rel="shortcut icon" href="{{ 'images/favicon-s-mark-filled.png' | asset_url }}" type="image/x-icon">

</head>
