{% capture html %}

<!-- based on https://gist.github.com/kasperisager/9416313  -->


{% if include.context == "/" %}
  <ul>
    <li{% if page.url == "/" %} class="active"{% endif %}>
      <a href="{{ site.baseurl }}/">{{ page.title }}</a>
    </li>
{% endif %}

{% assign entries = site.pages | sort: "path" %}
{% for entry in entries %}

  {% capture slug    %}{{ entry.url | split: "/"   | slice: -1    | last        }}{% endcapture %}
  {% capture current %}{{ entry.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}

  {% if current == include.context %}
    {% if forloop.first == true %}
      <ul>
    {% endif %}
        <li{% if page.url contains entry.url %} class="active"{% endif %}>
          <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>

          {% include menu.html context=entry.url %}

        </li>
    {% if forloop.last == true %}
      </ul>
    {% endif %}
  {% endif %}

{% endfor %}

{% if include.context == "/" %}
  </ul>
{% endif %}

{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' | replace: '> <', '><' }}
